body {
    background-color: #9bbcff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 60px; 
    color:#000000; 
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    font-size: 25px;
    padding: 16px 0;
    width: 300px;
    text-align: center;
    margin-bottom: 16px;
    text-decoration: none;
    color: #000000;
    background-color: #ffffff; 
    border-radius: 15px;
    border: none;
}

.btn:hover {
    background: #2a2a2a;
    color: white;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}