body {
        font-family:  Arial, Helvetica, sans-serif;
        text-align:  center;
        color: rgb(26, 26, 26);
        background-color: #9bbcff;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
}

h1 {
        font-size: 32px;
        margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.cards {
    background: white;
    color: black ;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    text-align: center;
}
.cards:hover { 
    background: #2a2a2a;
    color: white;
}
.container {
    background: rgba(255, 255, 255, 0.9);
    color: white;
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.2);
}
#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}
button {    
    background: white;  
    border: 2px solid #2b2b2b;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #303030;
    color: white;
    box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.2);
}
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.answer:disabled {
    cursor: not-allowed;
    opacity: 1;

}